{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} class="collapse-sidebar sidebar-footer" >
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div class="social-networks">
    <ul>
      <li><a href="https://github.com/sap1ens" target="_blank">GitHub</a></li>
      <li><a href="http://ca.linkedin.com/in/sap1ens" target="_blank">LinkedIn</a></li>
      <li><a href="https://twitter.com/sap1ens" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/yaroslav.tkachenko" target="_blank">Facebook</a></li>
    </ul>
  </div>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
