<div class="social-networks">
  <ul>
    <li><a href="http://stackoverflow.com/users/899937/sap1ens" class="symbol" title="stackoverflow" target="_blank"></a></li>
    <li><a href="https://www.facebook.com/yaroslav.tkachenko" class="symbol" title="facebook" target="_blank"></a></li>
    <li><a href="https://twitter.com/sap1ens" class="symbol" title="twitter" target="_blank"></a></li>
    <li><a href="http://ca.linkedin.com/in/sap1ens" class="symbol" title="linkedin" target="_blank"></a></li>
    <li><a href="https://github.com/sap1ens" class="symbol" title="githubalt" target="_blank"></a></li>
  </ul>
</div>